<div *ngIf="sensitivityPartner" class="sensitivityPartner">
    <div class="row">
        <div>
            Group: <span id="spgroup">{{sensitivityPartner.group}}</span>
        </div>
    </div>
    <div class="row">
        <div>
            Partner Relationship: <span id="sppartnerRelationship">{{sensitivityPartner.partnerRelationship}}</span></div>
    </div>
    <div class="row">
        <div>
            Sensitivity Level: <span id="spsenseLvlDesc">{{sensitivityPartner.senseLvlDesc}}</span>
</div>
    </div>
    <div class="row">
        <div>
            Sales Order Documents
        </div>
    </div>
</div>