
<div class="dashboard-title-container">
    <div class="row dashboard-title-row">
        <div class="col-sm-12 col-md-3">
            <label id="lidRecordNameField">{{LidRecordName}}</label>
        </div>
        <div class="col-sm-12 col-md-3">
            <span id="lidRecordIdField">{{LidRecordId}}</span>
        </div>
    </div>
    <div class="row dashboard-title-row">
        <div class="col-sm-12 col-md-3">
            <span id="customerNameField">{{CustomerName}}</span>
        </div>
    </div>
</div>
