input:invalid {
    border-color: red;
}

input,
input:valid {
    border-color: #ccc;
}

.required {
    position: relative;
    margin-right: .4em;
}

.required:after {
    content: "*";
    display: block;
    position: absolute;
    right: -.6em;
    top: -.1em;
    color: red;
}

.space {
    display: inline-block;
    width: 40px;
}
.validation{
    color: red;
}
